* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navegation bar */
.nav1, .nav2 {
    display: flex;
}

.nav1 {
    justify-content: flex-start;
    flex: 1;
    padding-left: 12rem;
    list-style-type: none;
    font-weight: 700;
    font-size: large;
}
.nav2 { 
    justify-content: space-between;
    gap: 2rem;
    padding-right: 6rem;
    list-style-type: none; /* gets bullet points off */
}

 .hero {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    width: 100%;
    padding-top: 2rem;
}

 /* main hero */
.hero-main { 
    background-color: #1F2937; 
    padding: 25px 25px 25px 0rem;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: #e5e7eb;
}

.wrapper_img { 
    flex-direction: row;
    margin: auto;
}

.left-hero {
    justify-content: flex-end;
    flex-direction: row-reverse;
    flex-basis: 50%;
}

   ul li a {
    color: white;
    text-decoration: none;
}


img {
    width: 400px;
    height: 300px;
}

.main-items {
    display: flex;
    flex: 1;
    gap: 16px;
    justify-content: center;
    padding-bottom: 7rem;
}

.random_info {
    text-align: center;
    padding: 2rem; 
}

.item {
    
    border-color: #3882f6;
    border-style: solid;
    background-color: #ffffff;
    width: 140px;
    height: 140px;
    border-radius: 8px;
    flex-direction: column;
    display: flex;
}

.main-items p {
    margin-top: 10rem; 
    
}

.quote {
    padding: 5rem 10rem 5rem 10rem;
    background-color: #e5e7eb;
    text-align: center;
    display: flex;
    flex-direction: column;
}



.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1.5rem;
    justify-content: center;
    text-align: center;
}